body {
    background: rgba(#283618);
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.team_img {
    /* width: 300px; */
}

.header {
    margin-top: 8rem;
}

.header_img {
    width: 400px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem
}

.nav_links {
    list-style: none;
    gap: 1rem;
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
    align-items: center;
}

.thumbnail {
    border-radius: 5px;
    display: inline-flex;
    background: #ff4c4c;
}

.fancy_text {
    color: orangered;
    font-size: 3rem;
}

.green {
    background-color: lawngreen;
}

.purple {
    background-color: rebeccapurple;
}

.team {
    text-align: center;
}

.bio {
    color: #797979;
}

.teams {
    justify-content: center;
    gap: 1rem;
    display: flex;
}

.team_section {
    text-align: center;
    border-radius: .5rem;
    background: #f1faee;
    padding: 2rem 0;
    display: flex;
    color: #363636;
    flex-direction: column;
    gap: 3rem;
}

.services_section {
    text-align: center;
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.services {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

.service {
    /* background: #ffb703; */
    color: #1a1a1a;
    /* border-radius: .5rem; */
    padding: 2rem;
}

.capsule {
    text-align: left;
    background: #fb8500;
    color: #fff;
    padding: .5rem 1.5rem;
    font-size: .8rem;
    /* border-radius: 100px; */
}

.footer {
    text-align: center;
    padding: 5rem 0 2rem
}